/node_modules
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log


/storage/app/public/images/productos
/public/storage/images/productos
storage/app/public/images/gruposDestacados

/documentation.txt
/go.bat
/go-colas.bat
/documentation.txt