/node_modules
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
documentation.txt
/storage/app/public/images/productos
/public/storage/images/productos
documentation.txt